/*
Imports Discord brand font
 */

 @font-face {
    font-family: discord;
    src: url('https://mintlify-assets.b-cdn.net/fonts/discord/discord.woff2');
 }
 @font-face {
    font-family: "gg sans";
    font-weight: 200;
    src: url('https://mintlify-assets.b-cdn.net/fonts/discord/gg_200.woff2')
 }

 @font-face {
    font-family: "gg sans";
    font-weight: 400;
    src: url('https://mintlify-assets.b-cdn.net/fonts/discord/gg_400.woff2');
 }

 @font-face {
    font-family: "gg sans";
    font-weight: 600;
    src: url('https://mintlify-assets.b-cdn.net/fonts/discord/gg_600.woff2');
 }

@font-face {
    font-family: "gg sans";
    font-weight: 800;
    src: url('https://mintlify-assets.b-cdn.net/fonts/discord/gg_800.woff2')
}

body {
    font-family: "gg sans", var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "gg sans", var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
    font-weight: 600;
}

.\[\&_\*\:not\(h1\2c h2\2c h3\2c h4\2c h5\2c h6\2c h1_\*\2c h2_\*\2c h3_\*\2c h4_\*\2c h5_\*\2c h6_\*\)\]\:font-bodyWeight :not(h1,h2,h3,h4,h5,h6,h1 *,h2 *,h3 *,h4 *,h5 *,h6 *) {
    font-weight: 400;
}




